build/
build*/
packaging/.openssl-src-*/
packaging/ios_openssl/
resources/environment/*
!resources/environment/
!resources/environment/init.toml
!resources/environment/init.webscp
output/
/release-note.md

venv/
aqt_venv/
*.log
